.task
*.egg-info
*.git-info
*.log
*.py[cod]
*.sublime-workspace
._*
.DS_Store
.idea/
.venv
_build
bin
build
compose.sh
develop-eggs
dist
eggs
typescript
venv
var/
rebuild.csh
static/
media/
backups/
Sample_Mammography_Reference_Set/
